*/client-venv
*/server-venv

.vscode
*/__pycache__
*/__pycache__/
__pycache__

testfiles
testfiles/*
lsc22.json

server/vbs_loader
client/python-loader-client
go-server/out/server/server
go-server/out/sql-logs/sql-trace-20260102-132922.log
go-server/out/sql-logs/sql-trace-20260103-095739.log
go-server/out/sql-logs/sql-trace-20260103-100750.log
go-server/out/sql-logs/sql-trace-20260103-100906.log
go-server/out/sql-logs/sql-trace-20260103-110309.log
go-server/out/sql-logs/sql-trace-20260103-112512.log
go-server/out/sql-logs/sql-trace-20260103-141858.log
go-server/out/sql-logs/sql-trace-20260103-142652.log
go-server/out/sql-logs/sql-trace-20260103-143056.log
go-server/out/sql-logs/sql-trace-20260103-181123.log
go-server/out/sql-logs/sql-trace-20260104-105609.log
go-server/out/sql-logs/sql-trace-20260104-111043.log
go-server/out/sql-logs/sql-trace-20260104-143220.log
go-server/out/sql-logs/sql-trace-20260104-162209.log
go-server/out/sql-logs/sql-trace-20260105-180146.log
